@using Microsoft.AspNetCore.Mvc.Localization
@using WebApp.Mvc.Resources.Views.Home
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WT"]</h1>
    @if (User.Identity?.IsAuthenticated == true)

    {
        <p>Hello @User.Identity?.Name!</p>
    }

</div>